#flight-payment-mode-chart{
    margin: 10px auto;
    height: 400px;
}
#flight-paymentMode-chart-container{
    box-shadow: 10px 10px 20px #888888;  
}
#lol{
    color: red;
}
mat-select{
    width: 200px;
    align-content: right;
}