
<!-- <div class="home-container"> -->
  <h1 class="realtime-date-time">
    {{dateMessage}}
  </h1>
  <hr>
  <!-- <div class="hotel-stats-container"> -->
    <div class="img">
      <h1>Hotel Statistics</h1>
   </div>
<div class="progress">
<app-hotel-booking-status-stats></app-hotel-booking-status-stats>
  <app-success class="progressBar"></app-success>
  <app-cancelled class="progressBar"></app-cancelled>
  <app-failure class="progressBar"></app-failure>
</div>
<hr>
<div class="img">
<h1>Flight Statistics</h1></div>
<div class="progress1">
  <app-flight-booking-status-stats></app-flight-booking-status-stats>
  <flight-app-success class="progressBar"></flight-app-success>
  <flight-app-cancelled class="progressBar"></flight-app-cancelled>
  <flight-app-failure class="progressBar"></flight-app-failure>

</div>
<!-- </div>
</div> -->