
  <div class = "header">
  <div >
    <div ><img class="logo" src="/src/assets/images/taviscaOne.png"></div>        
  </div>

<mat-tab-group>
  <mat-tab >
    <ng-template mat-tab-label>
      <a [routerLink] = "homeRoute"><span></span><img class="product-icon" src="/src/assets/images/home.png"></a>
    </ng-template>
    <ng-template matTabContent>
      <home></home>
    </ng-template>
</mat-tab>
<mat-tab>
  <ng-template mat-tab-label>
      <a [routerLink] = "hotelRoute"><span>Hotel</span></a>
      <img class="product-icon" src="/src/assets/images/hotel.png">
  </ng-template>
  <ng-template matTabContent>
    <widget></widget>
  </ng-template>
</mat-tab>
<mat-tab>
  <ng-template mat-tab-label>
      <a [routerLink]="flightRoute"><span>Flight</span></a>
      <img class="product-icon" src="/src/assets/images/flight.png">
  </ng-template>
  <ng-template matTabContent>
      <flight-widget></flight-widget>
  </ng-template>
</mat-tab>
</mat-tab-group>

  </div>