
button,mat-form-field{
    height: 40px;
    margin-top: 10px;
    margin-left:2em;
}
#graphs {
    width: 90%;
    margin: 100px auto;
    height: 100vh;
}
.hotel-form{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    z-index : 1;
}
