<div class="hotel-form">
<form class="forms" novalidate [formGroup]="inputForm" >
  <mat-form-field>
      <input matInput #sdate [min]="minDate" [max]="currentEndDate" (dateChange)="checkStartDate()" format="YYYY-MM-DD 00:00:00" [readonly]="true" [(ngModel)]="currentStartDate" [matDatepicker]="firstPicker" placeholder="Start Date" name="currentStartDate" formControlName="startDateControl" required>
      <mat-error *ngIf="inputForm.controls.startDateControl.hasError('required')">
        *Required
      </mat-error>
      <mat-datepicker-toggle matSuffix [for]="firstPicker"></mat-datepicker-toggle>
      <mat-datepicker #firstPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput #ldate [min]="currentStartDate" [max]="maxDate" [matDatepicker]="secondPicker" [(ngModel)]="currentEndDate" [readonly]="true" [disabled]="IsVisible" placeholder="End Date" name="currentEndDate" formControlName="endDateControl" required>
      <mat-error *ngIf="inputForm.controls.endDateControl.hasError('required')">
          *Required
        </mat-error>
      <mat-datepicker-toggle matSuffix [for]="secondPicker"></mat-datepicker-toggle>
      <mat-datepicker #secondPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <input type="text" placeholder="Location" aria-label="Number" matInput [matAutocomplete]="auto" [(ngModel)]="searchTerm" formControlName="location" name="searchTerm" required>
        <mat-error *ngIf="inputForm.controls.location.hasError('required')">
            *Required
          </mat-error>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let item of res | hotelLocations : searchTerm" [value]="item" >
            {{ item }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Graph Type" #check multiple>
        <mat-option *ngFor="let graph of graphs" [value]="graph.value" >
          {{graph.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="warn" type="submit" (click) =dataAnalysis(sdate.value,ldate.value,check.value) [disabled]="!inputForm.valid" >
        Get Hotel Data
        </button>
      </form>
        </div>
          <div id="graphs">
          <booking-with-dates-graph *ngIf="checkValue.includes('bookDate')"></booking-with-dates-graph>
          <supplier-name-based-graph *ngIf="checkValue.includes('supplierName')"></supplier-name-based-graph>
          <hotel-names-with-dates-graph *ngIf="checkValue.includes('name')"></hotel-names-with-dates-graph>
          <payment-mode-based-graph  *ngIf="checkValue.includes('paymentMode')"></payment-mode-based-graph> 
          <hotel-location-based-graph class = "hotel-location" *ngIf="checkValue.includes('location')"></hotel-location-based-graph >
        <app-stats-report-notifier></app-stats-report-notifier>
          </div>
     
    