div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 10px auto;
    vertical-align: middle;    
}
button,mat-form-field{
    height: 40px;
    margin-top: 10px;
    margin-left:2em;
}
.graphs {
    display: flex;
    width:100%;
    flex-wrap: wrap;
    justify-content: space-around;
}
