
<h1 class="realtime-date-time">
 {{dateMessage}}
</h1>
<hr>
<div class="img">
<h1>Hotel Statistics</h1></div>
<div class="progress">

  <app-success class="progressBar"></app-success>
  <app-cancelled class="progressBar"></app-cancelled>
  <app-failure class="progressBar"></app-failure>
 <app-past class="progressBar"></app-past> 
  
</div>

<div class="img">
<h1>Flight Statistics</h1></div>
<div class="progress1">
  <app-success class="progressBar"></app-success>
  <app-cancelled class="progressBar"></app-cancelled>
  <app-failure class="progressBar"></app-failure>
 <app-past class="progressBar"></app-past> 
</div>

<!-- <div class="images">
  <img src="./assets/images/pic1.png">
  <img src="./assets/images/pic2.png">
  <img src="./assets/images/pic3.png">
  <img src="./assets/images/pic4.png">
  <img src="./assets/images/pic5.png">
</div> -->